beautifulsoup4==4.12.3
chromadb==0.5.23
cloudscraper==1.2.71
fastapi==0.115.6
httpx==0.28.1
langchain==0.3.13
langchain-chroma==0.1.4
langchain-community==0.3.13
langchain-core==0.3.28
langchain-openai==0.2.14
langgraph==0.2.60
langsmith==0.2.6
pydantic==2.10.4
pydantic-settings==2.7.0
sentence-transformers==3.3.1
sse-starlette==2.2.1
uvicorn[standard]==0.34.0
